<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lfsfxy.classassistant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.lfsfxy.classassistant.activities.MainActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity  android:name="com.lfsfxy.classassistant.activities.SplashActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>     
        </activity>
        <activity android:name="com.lfsfxy.classassistant.activities.LoginActivity">
            
        </activity>
        <activity android:name="com.lfsfxy.classassistant.activities.RegisterActivity">
        </activity>
        <activity android:name="com.lfsfxy.classassistant.activities.SettingActivity"></activity>
        <activity android:name="com.lfsfxy.classassistant.activities.ModifyPswActivity"></activity>
        <activity android:name="com.lfsfxy.classassistant.activities.UserInfoActivity"></activity>
        <activity android:name="com.lfsfxy.classassistant.activities.FindPswActivity"></activity>
        <activity android:name="com.lfsfxy.classassistant.activities.ChangeUserInfoActivity"></activity>
        
    </application>

</manifest>
